{% extends 'base.html' %}
{% block title %} Prices {% endblock title %}
{% block content %}

    {% if notfound %}
        <h2 style="color: white">{{ notfound }}</h2>
    {% else %}
        {% if crypto.DISPLAY %}
            <table class="table table-striped table-hover table-bordered table-responsive-md" style="background-color: white">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price(USD)</th>
                        <th>Price(INR)</th>
                        <th>Daily High</th>
                        <th>Daily Low</th>
                        <th>Market Cap(USD)</th>
                        <th>Market Cap(INR)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in crypto.DISPLAY.items %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value.USD.PRICE }}</td>
                            <td>{{ value.INR.PRICE }}</td>
                            <td>{{ value.USD.HIGHDAY }}</td>
                            <td>{{ value.USD.LOWDAY }}</td>
                            <td>{{ value.USD.MKTCAP }}</td>
                            <td>{{ value.INR.MKTCAP }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3 style="color: white;">{{ quote }}, doesn't match with any symbol</h3>
        {% endif %}
    {% endif %}
{% endblock content %}