<div class="container">
        <div class="row">
            {% for x in api.Data %}
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ x.imageurl }}" class="card-img-top" alt="{{ x.source }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ x.title }}</h5>
                            <p class="card-text">{{ x.body | truncatewords:40 }}</p>
                            <a href="{{ x.url }}" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script type="javascript" rel="script" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>